/* Any resets and normalizations needed... */
body {
    margin: 0;
}

/*
  Design-specific styles begin here.  This is a minimalistic approach using vanilla CSS and no frameworks.
  Some font/size/weight values might not be exact since I don't have a PSD to check actual text data.
  Mobile-first, of course.  ;)
*/
header {
    font-family: 'Lato', sans-serif;
    background-color: rgba(38, 98, 148, .9);
    position: absolute;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 6px rgba(38,98,148,0.9);
}

input#searchInput {
    padding: 10px 45px 10px 10px;
    font-family: 'Lato', sans-serif;
    border: 1px solid #484b54;
    border-radius: 5px;
    width: 270px;
    font-size: 17px;
    display: block;
}

#searchInput:before {
    content: "\f087";
    font-family: FontAwesome, sans-serif;
    font-size: 400px;
    color: lightblue;
    z-index: 9999;
    display: block;
}

.form-wrap {
    position: relative;
    width: 270px;
    margin: 0 auto;
}

#searchButton {
    position: absolute;
    right: 10px;
    top: 7px;
    color: #81cc33;
    font-size: 23px;
    border: none;
    background-color: transparent;
}

header .tablet-left {
    margin-bottom: 10px;
}

.header-inner {
    padding: 10px;
}

.header-inner:after {
    content: "";
    display: table;
    clear: both;
}

header h3 {
    color: white;
    margin: 0;
    text-align: center;
    font-size: 24px;
}

#map {
    height: 100%;
    width: 100%;
}


/*
    Starting at 600px, adopt a big-phones/tablet/desktop usable layout.  There is only two columns with increasingly empty space
    between them as one scales up, so no need for a multi-column grid systems with offsets and such.
 */

@media screen and (min-width: 600px) {
    header .tablet-left {
        float: left;
        margin-bottom: 0;
    }

    header .tablet-right {
        float: right;
    }

    header h3 {
        margin-top: 5px;
        text-align: left;
    }

    input#searchInput {
        margin: 0 0;
    }
}